* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
}

.img {
  /* display: flex; */
  border-radius: 10px;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.qr-box {
  background-color: white;
  width: 220px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 10px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

.txt {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 10px;
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 200px;
}
/* 
@media screen and (min-width: 375px) {
  .qr-box {
  }
} */
