* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5em;
}

.qrbox {
  background-color: white;
  border-radius: 0.5em;
  width: 13em;
  height: 20em;
  padding: 0.5em 0.5em 0em 0.5em;
}

.img {
  border-radius: 1em;
  width: 12em;
  height: 12em;
}

.heading {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 0.7em;
  text-align: center;
  width: 15em;
  height: 4em;
  margin-left: 1em;
}

.txt {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 0.5em;
  text-align: center;
  width: 20em;
  height: 5em;
  margin-left: 1.7em;
}

/* 
@media screen and (min-width: 375px) {
  .qr-box {
  }
} */
